.padding-md {
  padding: 3vh;
}
.top-margin-max {
  margin-top: 15vh;
}
.main-font {
  font-family: Nunito;
}
.color-white {
  color: white;
}
.main {
  height: 25vh;
  margin-left: 15vw;
  padding: 5vh;
}
.header {
  height: 50vh;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  background-image: linear-gradient(rgba(58, 63, 88, 0.6) 60%, rgba(201, 201, 201, 0.5)),
              url("/img/img3.jpg");
  border-radius: 10px;
}
.sideNavComponent {
  position: fixed;
  background: rgb(58, 58, 58);
  top: 0;
  left: 0;
  height: 100vh;
  width: 15vw;
  z-index: 1;
  overflow: scroll;
  padding-top: 20px;
}
.link {
  display: block;
  font-family: Nunito;
  font-size: 1.2em;
  color: #818181;
  padding: 6px 8px 6px 16px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.sidenav-lead {
  display: block;
  font-family: Nunito;
  color: white;
  text-decoration: none;
  padding: 6px 8px 6px 16px;
}
.sidenav-lead:hover {
  color: #f1f1f1;
  text-decoration: none;
}
.link:hover {
  color: #f1f1f1;
  text-decoration: none;
}
.subNav {
  height: 10vh;
  padding-left: .75vw;
}
.subNav a {
  display: block;
  font-size: .75em;
  color: white;
  line-height: 3.25vh;
  text-decoration: none;
}
.subNav a:hover {
  color: #f1f1f1;
  border-left: 2px solid white;
  padding-left: 2px;
}
.searchbar {
  display: flex;
  justify-content: flex-end;
}
.input {
  margin-left: .5vw;
  margin-right: 2vw;
  padding-left: 1vw;
  border-top: none;
  border-bottom: 1px solid grey;
  border-right: none;
  border-left: none;
  font-family: Nunito;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
