/** 
  *
  * HTML Elements
  *
*/

input {
  margin-bottom: 5vh;
  display: block;
}
textarea {
  margin-bottom: 5vh;
  display: block;
}
label {
  display: block;
}
button {
  margin: 2vw;
  width: 7vw;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  font-family: Nunito;
  color: white;
  outline: none;
}

/* Classes */

.padding-md {
  padding: 3vh;
}
.top-margin-max {
  margin-top: 15vh;
}
.main-font {
  font-family: Nunito;
}
.font-sm {
  font-size: .75em; 
}
.font-md {
  font-size: 1em;  
}
.font-lg {
  font-size: 1.2em;
}
.font-xl {
  font-size: 2em;  
}
.color-white {
  color: white;
}
.main {
  min-height: 150vh;
  margin-left: 15vw;
  padding: 5vh;
}
.header {
  height: 50vh;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  background-image: linear-gradient(rgba(58, 63, 88, 0.6) 60%, rgba(201, 201, 201, 0.5)),
              url("/img/img3.jpg");
  border-radius: 10px;
}
.sideNavComponent {
  position: fixed;
  background: #F76E6C;
  border-radius: 0 5px 5px 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15vw;
  z-index: 1;
  overflow: scroll;
}
.sidenav-lead {
  display: flex;
  width: 15vw;
  background-color: #326FC0;
  margin-bottom: 3vh;
}
.sidenav-lead a{
  display: block;
  width: 7vw;
  font-family: Nunito;
  color: white;
  text-decoration: none;
  padding: 6px 8px 6px 16px;
}
.sidenav-lead a:hover {
  color: #C9DFF1;
  text-decoration: none;
}
.user-direct {
  display: flex; 
  position: fixed;
  top: 93vh;
  left: 1vw;
  width: 14vw; 
  height: auto; 
}
.login-icon {
  display: inline-block;
  width: 1.5vw; 
  height: auto; 
}
.login-icon path {
  fill: white; 
}
.user-icon {
  display: inline-block;
  height: 5vh;
  width: auto; 
}
.user-icon path {
  fill: white; 
  stroke:none;
  fill-rule:nonzero;
  fill:rgb(255,255,255);
  fill-opacity:1;
}
.user-popover {
  display: absolute; 
  top: 95vw; 
  left: 5vw; 
  padding-right: 1vw; 
  padding-left: 1vw; 
  margin-top: 1vh;
  margin-left: 1vw; 
  background-color: white; 
  border-radius: 5px; 
  animation: tilebounce .3s;
}
.link {
  display: block;
  font-family: Nunito;
  font-size: 1.2em;
  color: white;
  padding-left: 1vw;
  cursor: pointer;
}
.link:hover {
  color: #C9DFF1;
  text-decoration: none;
}
.subNav {
  height: 10vh;
  padding-left: .75vw;
  animation: slide-down .1s; 
}
.subNav a {
  display: block;
  font-size: .75em;
  color: white;
  line-height: 3.25vh;
  text-decoration: none;
}
.subNav a:hover {
  color: #f1f1f1;
  border-left: 2px solid white;
  padding-left: 2px;
}
.search-instructions {
  background-color: black; 
  color: white; 
  opacity: .7;
  height: 4vh;
  width: 6vw;
  border-radius: 5px;
  padding: 3px;
  margin: 1vh;
  text-align: center; 
}
.searchbar {
  display: flex;
  justify-content: flex-end;
}
.blog-search-input {
  width: 10vw;
  margin-left: .5vw;
  margin-right: 2vw;
  padding-left: 1vw;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  font-family: Nunito;
  transition: border-left cubic-bezier(0,.89,.36,.28) .1s;
  transition: width cubic-bezier(0,.89,.36,.28) .1s;
}
.blog-search-input:focus {
  outline: none;
  border-bottom: 1px solid #00ADB5;
  width: 20vw;
}
.input {
  width: 30vw;
  margin-left: .5vw;
  margin-right: 2vw;
  padding-left: 1vw;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  font-family: Nunito;
  transition: border-left cubic-bezier(0,.89,.36,.28) .1s;
  transition: width cubic-bezier(0,.89,.36,.28) .1s;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid #006EC7;
  border-left: 2px solid #006EC7;
  width: 50vw;
}
.newblog{
  margin-left: 15vw;
}
.create {
  display: block;
  margin-left: 5vw;
  padding: 2vw;
  width: 75%;
  box-shadow: -6px 0px 16px -6px black;
}
.save {
  background-color: #00B251;
  color: white;
}
.save:hover {
  transform: translate(2%, -2%);
  box-shadow: -2px 3px 16px -6px black;
}
.save:active {
  width:6.9vw;
  outline: none;
}
.blogs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.loading {
  margin: 0 auto;
}
.tile {
  position: relative;
  flex-grow: 1;
  margin: 2vw 2vh;
  width: 300px;
  max-width: 300px;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -4px 4px 20px 1px lightgrey;
  text-decoration: none;
  color: inherit;
  animation: tilebounce .3s; 
}
.tile a {
  color: inherit;
  text-decoration: none;
}
.tile-splash {
  position: absolute;
  width: 100%;
  height: 225px;
  bottom: 40px;
  left: 0;
}
.tile-bottom {
  position: absolute;
  display: flex;
  padding-left: 1vw;
  padding-top: 1vh; 
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 40px;
}
.svg-wrapper {
  position: relative;
  margin-right: 1.5vw; 
}
.thumbs-up {
  cursor: pointer;
  margin-left: 1vw;
}
.count { 
  position: absolute;
  top: 0;
  left: -5px;
  height: auto; 
  width: auto; 
  animation: thumbsup .4s; 
}
.thumbs-up:hover,
.comment-icon:hover {
  transform: scale(1.1);
}
.thumbs-up:hover path{
  fill: #00ADB5;
}
.thumbs-up path,
.comment-icon path {
  transition: scale ease-in 0.1s;
}
.comment-icon {
  cursor: pointer;
  margin-left: 1vw;
}
.comment-icon:hover path {
  fill: #FC3C3C;
  stroke-width: 150%;
}
.post {

}
.first-letter:first-child:first-letter {
  color: #03005E;
  float: left; 
  font-family: Georgia; 
  font-size: 4em; 
  line-height: 5vh; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
}
.blog-nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.blog-nav a {
  color: inherit; 
  text-decoration: none; 
}
.blog-nav-button {
  transition: cubic-bezier(0,.89,.36,.28) .1s; 
}
.blog-nav-button:hover {
  color: #006EC7;
  letter-spacing: 2px;
}
.blog-nav-arrow {
  width: 2vw;
  stroke-linecap: round; 
}
.blog-nav-arrow path{
  stroke: black;
  stroke-width: 3px; 
  fill: none; 
}
.comment-form {
  margin-top: 15vh; 
  margin-left: 1vw; 
}
.comment-form input {
  border-radius: 10px;
  border-width: 0;
  padding-left: 2vw;
  width: 50vw;
  box-shadow: -4px 4px 15px 1px lightgrey;
  transition: border-width cubic-bezier(0,.89,.36,.28) .5s; 
}
.comment-form textarea {
  border-radius: 10px;
  padding: 2vw;
  border-width: 0;
  width: 50vw; 
  box-shadow: -4px 4px 20px 1px lightgrey;
  transition: border-width cubic-bezier(0,.89,.36,.28) .5s; 
}
.comment-form input:focus {
  outline: none;
  border-color: #006EC7;
  border-width: 1px;
}
.comment-form textarea:focus {
  outline: none;
  border-color: #006EC7;
  border-width: 1px;
}
.save-comment {
  color: #006EC7;
  border-color: #006EC7;
  transition: cubic-bezier(0,.89,.36,.28) .1s; 
}
.save-comment:hover {
  color: white;
  background-color: #006EC7;
}
.comments {
  margin-top: 15vh; 
  width: 80vw; 
  padding: 1vw; 
  box-shadow: -4px 4px 15px 1px lightgrey;
  border-radius: 10px; 
}
.comment {
  border-radius: 10px;
  margin-top: 5vh; 
  padding: 2vh 2vw; 
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.comment-delete {
  border: none;
  outline: none;
  width: auto; 
  height: auto;
  padding: 0;
}
.comment-interact {
  display: flex; 
  justify-content: left;
  align-items: center;
}
.trash {
  height: 3vh;
  width: auto;
}
.like {
 height: 3vh;
 width: auto;
}

/**
  * Keyframe animations
  */

@keyframes slide-down{
  0%{
    height: 0; 
    opacity: 0;
  }
  50%{
    height: 5vh;
    opacity: 0;
  }
  100%{
    height: 10vh;
    opacity: 1;
  }
}


@keyframes tilebounce {
  0% {
    transform: translateY(15%);
  }
  50%{
    transform: translateY(-10%);
  }
  100%{
    transform: translateY(0);
  }
}


